{% extends 'Index.html' %}

{% block content %}
    <article>
        <header>
            <h2>{{ article.title }}</h2>
        </header>
        <p>{{ article.content | raw }}</p>
        <footer>
            <small>Дата публикации: {{ article.published }}</small>
        </footer>
    </article>

    {% if errors is not empty %}
        <br>
        <div class="alert alert-warning">
            {% for error in errors %}
                <p>{{ error.getMessage() }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <t4:block path="//Comment/Add(article_id={{ article.getPk }})" />
    <t4:block path="//Comment/All(article_id={{ article.getPk }})" />
{% endblock %}